/* Basics */
*
	{
	margin: 0;
	padding: 0;
	border: 0;
}
ul { 
    list-style: none;
}
html, 
body { 
    width: 100%;
    height: 100%;
}
body { 
    background: #1A1F2B;
	font: 1.2em 'Roboto', sans-serif;
    font-weight: 300;
	color: #D0E4F2;
}
.wrap {
    width: 960px;
    margin: 0 auto;
}
#about,
#services,
#portfolio,
#contact {
    padding: 200px 0;
}
/* Typography */
h1,
h2,
h3 { 
    font-family: 'Roboto Slab', serif;
    color: #FFDA66;
	font-weight: 300;
}
h1 { font-size: 4em; }
h2 { 
    font-size: 3em;
    text-align: center;
    padding-bottom: 50px;
}
h3 { font-size: 1.5em; }
a,
a:visited { 
    text-decoration: none; 
    color: #FFDA66;
}
a:hover { 
    color: #1FCECB;
}
p {
    line-height: 1.5em;
    letter-spacing: 1px;
}
/* Images */
.svg {
    fill: #FFDA66;
    width: 100%;
}
/* Buttons */
.button {
    background: rgba(0,0,0,0.3);
    border-bottom: 3px solid #1FCECB;

	padding: 10px 30px;
	cursor: pointer;
}
.button:hover {
    background: rgba(0,0,0,0.5);
    color: #1FCECB;
    border-bottom: 3px solid #1FCECB;
}
.button:active {
    border: 1px;
}

/* Header */
nav {
    background: rgba(0,0,0,0.3);
    float: right;
    margin: 20px;
    z-index: 3000;
    position: fixed;
    right: 50px;
}
nav li {
    float: left;
    padding: 15px;
}
@media only screen and (max-width: 950px) {
    nav {
        display: none;
    }
}
/* Home */
#home {
    height: 100%;
    background-image: url(../img/saskatoon1.jpg);
}
#homeContent {
    width: 1200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    text-shadow: 1px 1px 1px #000;
    /* This is for the vertical align */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#homeContent h3 {
    color: rgba(255,255,255,0.6);
    padding-bottom: 100px;
}
#homeContent h1 {
	word-spacing: -0.2em;
	font-weight: 300;
}
#homeContent h1 span {
	font-weight: 800;
}
@media only screen and (max-width: 950px) {
    #homeContent {
        width: 90%;
    }
}
/* About */

/* Services */
#services {
    background: #30395C;
    background-image: url(../img/saskatoon2.jpg);
    background-size: cover;
}
.servicesCard {
    background: #30395C;
    
    width: 47.7%;
    margin: 1%;
    padding: 4%;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 5px 10px 50px -10px #1A1F2B;
    transition: ease 1s;
}
.servicesCard:hover {
    box-shadow: 0 0 0 0 #1A1F2B;
}
.servicesCard img {
    width: 100%;
}
.servicesCard h3 {
    text-align: center;
    margin-bottom: 25px;
}

@media only screen and (max-width: 950px) {
    .servicesCard {
        width: 100%;
    }
}
/* Portfolio */
#portfolio {
    background: #1A1F2B;

}
#portfolio h2 {
    margin-bottom: 50px;
}

.grid {
	overflow: hidden;
	margin: 0;
	padding: 3em 0 0 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 33.333%;
	height: 500px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
    text-shadow: 1px 1px 1px #000;
}
@media only screen and (max-width: 950px) {
    .grid figure {
        width: 90%;
    }
}
.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h3 span {
	font-weight: 800;
}

.grid figure h3,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* effects */

figure.effect-lily img {
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	top: auto;
	bottom: 0;
	height: 15%;
	text-align: left;
}

figure.effect-lily h3,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h3 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.6);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h3,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
/* Contact */
#contact {
    background: #30395C;
    position: absolute;
    width: 100%;
}
#contactInfo {
    float: left;
    width: 30%;
}

/* Form */

.form-contact {
    float: right;
    width: 60%;
}
#contact .button {
    color: #FFF;
    font: 1em 'Roboto', sans-serif;
}

input[type="text"],input[type="password"],input[type="email"],textarea,select {
	border: 1px solid #1A1F2B;
	padding: 10px;
	outline: none;
	font: 1em 'Roboto', sans-serif;
	color: #fff;
	display: block;
	background:  #1A1F2B;
    width: 80%;
    margin-bottom: 20px;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {
	border: 1px solid #1FCECB;
	pad color: #444;
}
textarea {
	min-height: 150px;
    width: 100%;
}
/* Responsive */
@media only screen and (max-width: 950px) {
    .wrap {
        width: 90%;
    }
    #about,
    #services,
    #portfolio,
    #contact {
        padding: 100px 0;
}
    .form-contact {
        width: 90%;
    }
    textarea {
        width: 80%;
    }
    #contact .button {
        width: 85%;
    }
    #contactInfo {
        width: 100%;
        text-align: center;
    }
}